html{
	font-size: 62.5%;
}
body{
	font-family: $bitter;
	@include font-size(14);
	line-height: 130%;
	background: $beige url('../images/bg-pattern.jpg') center top repeat;
	color: #000;
}
a{
	&:link, &:visited{
	text-decoration: none;
	}
}
ul{
	@extend %no-list;
}
%centered{
	margin:0 auto;
	position: relative;
}
.fit-grid{
	@include fill-parent;
	height:auto;
}
figure{
	padding:0;
	margin:0;
}