#header{
	position: relative;
	padding: 30px 0;
}
#home-link{
	@extend %centered;
	max-width: 193px;
	height: auto;
}
form#search-frm{
	width: 20%;
	@include abs-pos(30px,auto,auto,0);
	input{
		width: 100%;
	}
}
#basket-summary{
	@include abs-pos(30px,0,auto,auto);
	height: 40px;
	padding: 0;
	display: inline-block;
	width: auto;
	a{
		@include abs-pos(0 auto auto 0);
		width: 40px;
	}
	span{
		height: 40px;
		line-height: 40px;
		display: block;
		padding: 0 0 0 50px;
	}
}