h1,h2,h3,h4,h5{
	@include font-size(38);
	font-weight: normal;
	line-height: 100%;
	margin: 0 0 15px;
	font-family: $bitter;
	color: #000;
}
h1{
	color: $green;
}
h2{
	@include font-size(28);
}
h3{
	@include font-size(18);
}
h4{
	@include font-size(16);
}
h5{
	@include font-size(14);
	margin-bottom: 8px;
}
h3,h4{
	margin-bottom: 6px;
}
ul,li{
	margin:0;
	padding:0;
}
p,ul,ol {
	margin: 0 0 15px;
}
p{
	margin-bottom: 10px;
}
a{
	&:link,&:visited{
		color: #000;
	}
	&:hover, &:active{
		color: #000;
	}
}
small{
	@include font-size(11);
	line-height: 100%;
}
