#category article{
	@include span-columns(4 of 9);
	@media screen and (max-width: $break-large) {
		@include span-columns(4 of 8);
	}
	@media screen and (max-width: $break-small) {
		@include span-columns(12);
	}
	padding: 0 0 40px;
	p{
		font-family: $helvetica;
		@include font-size(13);
		margin-bottom: 8px;
	}
	.button{
		width: 75% !important;
		@media screen and (max-width: $break-large) {
		width: 100% !important;
	}
	}
}
#category-header{
	margin-bottom: 30px;
	@media screen and (max-width: $break-small) {
		margin-bottom: 10px;
	}
	h1{
		@include font-size(20);

		margin-bottom:5px;
		color: #000;
	}
	h2{
		@include font-size(38);
		color: #8cc8c0;
	}
}
